@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: relative;
    top: 6rem;
    height: 70vh;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(48, 2, 2, 0.2);
    

    /* background: rgb(251, 242, 133); */
    /* background: radial-gradient(
      circle,
      rgba(251, 242, 133, 0.6334908963585435) 0%,
      rgba(224, 196, 91, 0.8407738095238095) 35%,
      rgba(230, 224, 113, 1) 100% );*/
    
  }
  #weather-icon{
    width: 150px;
  }
  .c {
    margin: 15px 0;
    font-size: 4rem;
  }
  #location {
    font-size: 2rem;
    font-weight: 800;
    
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }